.top-page {


  &__inner {
    padding: 80px 20px;
    background: #F3F3F3;
    border-radius: 20px;
  }

  .breadcrumbs {
  }

  .title {
    margin-top: 30px;
  }

  .text {
    padding: 40px 0;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 30px ;
  }

  .item {
    min-height: 290px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color: #6e079e, $alpha: 0.2);
    }


    img {
      max-width: 100%;
    }

    p {
      max-width: 200px;
      position: relative;
      z-index: 2;
      font-size: 18px;
      color: #fff;
      line-height: 140%;
      font-weight: 600;
    }
  }

  .block-image {
    margin: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    position: relative;
    padding: 80px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color: #6e079e, $alpha: 0.5);
    }

    p {
      position: relative;
      z-index: 1;
      font-size: 25px;
      font-weight: 600;
      color: #fff;
      line-height: 140%;
    }
  }

}

.gallery {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
  gap: 30px;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
  }


  &__item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    img {
      max-width: 100%;
      min-height: 200px;
      height: 100%;
      object-fit: cover;
      transition: $animation-speed;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

  }


}