.added {

  //.added__title
  &__title {
    margin-bottom: 42px;
  }

  //.added__wrapper
  &__wrapper {
    width: 100%;
    padding: 0 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 16px;
  }

  //.added__card
  &__card {
    display: flex;
    gap: 20px;
    border-right: 2px solid rgba($color: #535353, $alpha: 0.38) !important;

    &:last-child {
      border-right: none !important;
    }

    //&:nth-child(odd) {
    //  border-right: 2px solid rgba(83, 83, 83, 0.38);
    //}

    //@media screen and (min-width: 768px) {
    //  padding-right: 25px;
    //}

    @media screen and (max-width: 460px) {
      flex-direction: column;
    }

  }

  //.added__content-wrapper
  &__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (min-width: 460px) {
      display: contents;
    }
  }


  //.added__content
  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (min-width: 1400px) {
      max-width: 200px;
    }

    @media screen and (max-width: 460px) {
      display: contents;
    }
  }

  //.added__card-title
  &__card-title {
    line-height: 120%;
    font-size: 32px;
    font-weight: 500;
    color: #000000;
    text-wrap: balance;

    @media screen and (max-width: 560px) {
      font-size: 22px;
    }
  }

  //.added__descr
  &__descr {
    flex: 1 1 auto;
    line-height: 140%;
  }

  //.added__price
  &__price {
    font-size: 25px;
    font-weight: 500;
  }

  //.added__link
  &__link {
    padding: 10px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    gap: 5px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.29);
    border-radius: 40px;

    @media screen and (max-width: 460px) {
      order: 2;
    }
  }

  //.added__mini-logo
  &__mini-logo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 78px;
    height: 48px;
  }


  //.added__image
  &__image {
    display: flex;
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    min-height: 256px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (min-width: 460px) {
      width: 203px;
      height: 100%;
    }

    @media screen and (max-width: 460px) {
      order: 1;
      height: 400px;
    }
  }

}