.catalog {

  //.catalog__title
  &__title {
    margin-bottom: 40px;
  }

  //.catalog__grid
  &__grid {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(420px, 1fr));
    gap: 46px 38px;
  }

  //.catalog__card
  &__card {
  }

  //.catalog__filter
  &__filter{
    margin-bottom: 40px;
  }

  &__card__prev,
  &__card__next {
    &::after {
      font-size: 25px;
    }
  }

}