.catalog {

  //.catalog__title
  &__title {

  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;


    button {
      border: 1px solid #6e079e;
      background-color: #6e079e;
      border-radius: 10px;
      padding: 10px 14px;
      min-width: 152px;

      color: #fff;
      font-weight: 600;

      @media screen and (min-width: 992px) {
        display: none;
      }

    }

  }


  //.catalog__grid
  &__grid {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(420px, 1fr));
    gap: 46px 38px;

    @media screen and (max-width: 578px) {
      grid-template-columns:repeat(auto-fill, minmax(290px, 1fr));
    }

  }

  &__empty {
    display: none;
    text-align: center;
    padding: 100px;
    font-size: 35px;
    font-weight: 700;
    color: rgba($color: #000000, $alpha: 0.5);

    &.active {
      display: block;
    }

    @media screen and (max-width: 578px) {
      font-size: 25px;
      padding: 100px 30px;
    }
  }

  .houses-sale__slide {
    display: contents;
  }

  //.catalog__card
  &__card {
  }

  &__card-slide {
    width: 100% !important;
    height: 312px;
    overflow: hidden;
    border-radius: 16px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    z-index: 99;

    img {
      width: 20px;
      height: 20px;
      margin-left: 3px;
    }
  }

  &__card-image {
    position: relative;

    img {
      width: 100%;
    }

    &:hover {

      .catalog__card__prev {
        left: 10px;
      }

      .catalog__card__next {
        right: 10px;
      }

    }
  }

  //.catalog__filter
  &__filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;

    @media screen and (max-width: 992px) {
      display: none !important;
    }

  }

  &__card__prev {
    left: -20%;
  }

  &__card__next {
    right: -20%;
  }

  &__card__prev,
  &__card__next {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: $animation_speed;

    &::after {
      font-size: 16px;
      color: #6e079e;
    }
  }

  .swiper-pagination-bullet {
    background-color: #FFFFFF !important;
  }

}