.catalog {

  //.catalog__title
  &__title {
  }

  //.catalog__grid
  &__grid {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(420px, 1fr));
    gap: 46px 38px;
  }

  //.catalog__card
  &__card {
  }


}