h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}


._lock {
  overflow: hidden;
}

button {
  background: none;
  border: none;
  appearance: none;
}

.btn-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.title {
  color: rgba(48, 48, 48, 1);
  font-size: 50px;
  font-weight: 500;
  line-height: 100%;
  text-align: left;

  @media screen and (max-width: 992px) {
    font-size: 40px;
  }

  @media screen and (max-width: 768px) {
    font-size: 35px;
  }

  @media screen and (max-width: 478px) {
    font-size: 30px;
  }
}

/*
** Общие отступы у секции top/bottom
*/
.pd {
  padding: 40px 0px;
}

/*
** Общие стили для слайдера
*/

.swiper-scrollbar {
  height: 2px !important;
}

.swiper-scrollbar-drag {
  background-color: rgba(110, 7, 158, 0.55);
}

.swiper-btn-next,
.swiper-btn-prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  border: none;

  &::after {
    font-size: 0;
  }
}

.swiper-btn-next {
  img {
    transform: rotate(-180deg);
  }
}

/*
** Стили верхнего блока секции заголовок/ссылка
*/

//.top-section
.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;


  //.top-section__link
  &__link {
    padding: 10px 17px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.32);
    border-radius: 40px;
  }

  .top-section__link-ref {
    text-decoration: underline;
    color: #000000;
  }

  //.top-section__right
  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    @media screen and (max-width: 578px) {
      margin-top: 20px;
    }
  }

}

.close {
  position: absolute;
  top: 25px;
  right: 30px;
  width: 25px;
  height: 25px;
  transition: $animation_speed;


  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin-left: -50%;
    height: 2px;
    margin-top: -1px;
    background-color: rgba($color: red, $alpha: 1.0);
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }

  @media (hover: hover) {
    &:hover {
      transform: rotate(180deg);
    }
  }
}

button {
  cursor: pointer;
}

.back-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
  background: #6e079e;
  border-radius: 10px;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;

  &.active {
    display: flex;
  }

  @media screen and (max-width: 1200px) {
    width: 40px;
    height: 40px;
    right: 30px;

    img {
      height: 15px;
    }
  }
}


