.faq {
  position: relative;

  //.faq__inner
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;


    @media screen and (min-width: 992px) {
      display: contents;
    }
  }

  //.faq__border
  &__border{
    @media screen and (min-width: 768px) {
      padding: 27px;
    }
  }

  .container {
    position: relative;
    border-radius: 16px;

    @media screen and (min-width: 768px) {
      border: 1px solid #6e079e;
    }
  }

  .top-section {
    align-items: flex-start;

    @media screen and (max-width: 992px) {
      display: contents;
    }
  }

  .top-section__right {
    @media screen and (max-width: 992px) {
      order: 2;
      align-items: center;

      .faq__title {
        display: none;
      }

    }
  }

  //.faq__image
  &__image {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 835px;
    width: 100%;
    height: 100%;
    z-index: -1;

    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  //.faq__title
  &__title {
    @media screen and (max-width: 992px) {
      order: 0;
    }
  }

  //.faq__accordion
  &__accordion {
    @media screen and (max-width: 992px) {
      order: 1;
    }
  }

  //.faq__btn
  &__btn {
    margin-top: 13px;
    padding: 10px 14px 10px 14px;
    border: 1px solid rgba(132, 132, 132, 1);
    border-radius: 40px;
    background: rgba(255, 255, 255, 1);

    @media screen and (max-width: 992px) {
      margin-top: 0;
    }
  }

}