.filter {

  select {
    border: none;
    background: none;
    font-size: 14px;
  }

  &__price {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .filter__input {
      position: relative !important;
      opacity: 1 !important;
      z-index: 1 !important;
    }

  }

  &__input {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    border: 1px solid rgba($color: #000000, $alpha: 0.5);
  }


  &__inner {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }

  //.filter__wrp
  &__wrp {
    min-width: 180px;
    position: relative;

    z-index: 999;

    /*input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
    }*/

    button {
      width: 100%;
      padding: 10px;
      border: 1px solid rgba($color: #6e079e, $alpha: 0.5);
      border-radius: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
      font-weight: 500;
      font-size: 18px;
      color: #2f2f2f;
      text-align: center;
      cursor: pointer;
      background: #FFFFFF;

      img {
        transition: $animation-speed;
      }

      &.active {
        img {
          transform: rotate(-180deg);
        }
      }
    }


  }

  &__wrp-inner {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    padding: 50px 20px 20px;
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: #fff;
    z-index: -1;
    border: 1px solid rgba($color: #6e079e, $alpha: 0.3);
    border-radius: 10px;

    label {
      position: relative;
      font-size: 14px;
    }


    input[type="number"] {
      padding: 10px 15px;
      max-width: 130px;
      border-radius: 10px;
      border: 1px solid rgba($color: #6e079e, $alpha: 0.3);
    }

    input[type="checkbox"] {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }

    &.active {
      display: flex;
    }


  }

  .checkbox-label:has(input:checked) {
    color: #6e079e;
    font-weight: 700;
  }

  //.filter__btn
  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    min-width: 140px;
    padding: 10px 15px;
    border: 1px solid rgba(110, 7, 158, 1);
    border-radius: 40px;
    background: rgba(255, 255, 255, 1);
    //font-size: 14px;
    white-space: nowrap;
    z-index: 3;
  }

  //.filter__list
  &__list {
    display: none;
    width: 100%;
    min-width: 140px;
    padding: 50px 5px 15px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 40px 40px 10px 10px;
    box-shadow: 0 58px 16px 0 rgba(0, 0, 0, 0), 0 37px 15px 0 rgba(0, 0, 0, 0.01), 0 21px 12px 0 rgba(0, 0, 0, 0.05), 0 9px 9px 0px rgba(0, 0, 0, 0.09), 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 1);
    z-index: 2;

    &.active {
      display: block;
    }


    li {
      padding: 7px 0;
      font-size: 12px;
      text-align: center;
      cursor: pointer;

      @media (hover: hover) {
        &:hover {
          background: rgba($color: #000, $alpha: 0.05);
        }
      }
    }
  }

  &__reset {
    position: relative;
    height: 20px;
    width: 20px;
    display: none;


    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 16px;
      margin-left: -8px;
      height: 2px;
      margin-top: -2px;
      background: red;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    @media screen and (max-width: 992px) {
      width: auto;
      height: 100%;
      text-align: center;
      background: red;
      padding: 10px 15px;

      &::before, &::after {
        display: none;
      }
    }

    span {
      display: block;
      font-weight: 600;
      color: #FFFFFF;

      @media screen and (min-width: 992px) {
        display: none;
      }
    }
  }

  &__reset.active {
    display: inline-flex;
  }

}