.footer {
  margin-top: 3px;
  flex: 0 0 auto;
  padding: 30px 0 0;
  border-top: 1px solid rgba(58, 58, 58, 1);
  border-radius: 20px 20px 0 0;
  background: rgba(45, 45, 45, 1);

  //.footer__top
  &__top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

    @media screen and (max-width: 578px) {
      flex-direction: column;
      gap: 40px;
    }
  }

  //.footer__logo
  &__logo {
  }

  //.footer__number
  &__number {

    a {
      color: #fff;
      font-size: 32px;
      font-weight: 500;

      @media screen and (max-width: 768px) {
        font-size: 25px;
      }
    }
  }

  //.footer__middle
  &__middle {
    padding-bottom: 73px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 35px;

    @media (max-width: 1200px) {
      flex-wrap: wrap;
      gap: 40px;
    }
  }

  //.footer__left
  &__left {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 328px;

    a {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #ffffff;
    }
  }

  //.footer__nav
  &__nav {

  }

  //.footer__list
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 13px 148px;

    a {
      color: rgba(255, 255, 255, 1);
    }
    @media screen and (max-width: 578px) {
      grid-template-columns: 1fr;
    }
  }

  //.footer__action
  &__action {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media screen and (max-width: 1200px) {
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      gap: 40px;
    }
  }

  //.footer__btn
  &__btn {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    color: #ffffff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.38);
    border-radius: 40px;
    padding: 6px 6px 6px 10px;
  }

  //.footer__btn-arrow
  &__btn-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: rgba(110, 7, 158, 1);
  }


  //.footer__bottom
  &__bottom {
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    border-top: 1px solid rgba(58, 58, 58, 1);

    a {
      color: rgba(153, 153, 153, 1);
      text-decoration: underline;
      font-size: 13px;
    }
  }

  //.footer__copyright
  &__copyright{
    color: rgba(153, 153, 153, 1);
    font-size: 13px;
  }

}

.socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;

  a {
    display: flex;
    width: 28px;
    height: 28px;
  }
}