.header {
  flex: 0 0 auto;
  padding: 18px 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  background: #ffffff;
  z-index: 99;
  transition: 1s;

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 14px 0;
  }

  //.header__inner
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  //.header__logo
  &__logo {
  }

  //.header__social
  &__social {
  }

  //.header__nav
  &__nav {
  }

  //.header__actions
  &__actions {
  }

  .social {
    @media screen and (max-width: 1200px) {
      position: fixed;
      bottom: 100px;
      right: 30px;
      flex-direction: column;

      &__item {
        width: 40px;
        height: 40px;
      }
    }
  }

}

.nav {
  transition: .5s;
  z-index: 98;

  @media screen and (max-width: 992px) {
    position: fixed;
    top: 117px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;

    transform: translateY(200%);

    &.active {
      transform: translateY(0%);
    }
  }

  //.nav__list
  &__list {
    display: flex;
    align-items: center;
    gap: 2px;

    @media screen and (max-width: 992px) {
      height: 100%;
      flex-direction: column;
      padding: 150px 0;
    }
  }

  //.nav__item
  &__item {
    position: relative;
    border-radius: 40px;

    &.active {
      background-color: #6E079E;
      border: 1px solid rgba(110, 7, 158, 1);

      a {
        color: #ffffff;
      }
    }

    a {
      position: relative;
      padding: 10px 15px;
      color: #000;
      font-weight: 500;
      border-radius: 10px;
      transition: .25s;

      @media (hover: hover) {
        &:hover {
          color: #fff;
          background: rgba(110, 7, 158, 1);
        }
      }

      &:active {
        opacity: 0.8;
      }

      @media screen and (max-width: 1400px) {
        padding: 10px 10px;
      }

      @media screen and (max-width: 1200px) {
        font-size: 14px;
      }

      @media screen and (max-width: 992px) {
        font-size: 20px;
      }
    }

    @media (hover: hover) {
      &:hover {
        .submenu {
          opacity: 1;
          pointer-events: all;
          transform: translateY(0);
        }
      }
    }

  }
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 290px;
  border-radius: 10px;
  border: 1px solid rgba($color: #6e079e, $alpha: 0.3);
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transform: translateY(30px);
  z-index: 2;
  transition: .25s;
  overflow: hidden;

  //.submenu__item
  &__item {

    @media (hover: hover) {
      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.05);
      }
    }
  }

}

.action {
  display: flex;
  flex-direction: column;
  gap: 4px;


  //.action__item
  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    color: #000000;
    font-weight: 500;
    transition: .25s;

    @media(hover: hover) {
      &:hover {
        color: #6e079e;
      }
    }
    @media screen and (max-width: 1200px) {
      font-size: 14px;
    }


    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 22px;
      height: 22px;
      background-color: #6E079E;
      border-radius: 50%;
    }

    img {
      max-width: 100%;
    }
  }

}

.social {
  display: flex;
  align-items: center;
  gap: 6px;


  //.social__item
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #6E079E;
    transition: .25s;

    @media (hover: hover) {
      &:hover {
        border-radius: 10px;
      }
    }

    &:active {
      opacity: 0.9;
    }

    img, picture {
      display: block;
      //margin: 0;
      //padding: 0;
    }
  }



}

.burger {
  display: block;
  width: 28px;
  height: 28px;
  position: relative;

  @media screen and (min-width: 992px) {
    display: none;
  }

  &::before,
  &::after, span {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    background-color: #6E079E;
    transition: .25s;
  }

  &::before {
    transform: translateY(-5px);
  }

  &::after {
    transform: translateY(5px);
  }

  &.active {

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    span {
      opacity: 0;
    }

  }
}