.houses-sale {

  //.houses-sale__title
  &__title {
    margin-bottom: 30px;
  }

  //.houses-sale__slider
  &__slider {
  }

  //.houses-sale__wrapper
  &__wrapper {
    padding: 0 0 20px;
  }

  //.houses-sale__slide
  &__slide {
  }

  //.houses-sale__card
  &__card {

    .swiper-pagination-bullet {
      background-color: #FFFFFF !important;
    }

    .swiper-pagination-bullet-active {
    }

  }

  //.card__content-top
  &__content-top {
  }

}