.info-block {
  padding: 50px 0;


  //.info-block__top
  &__top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 76px;

    @media screen and (max-width: 1400px) {
      flex-wrap: wrap;
    }

    @media screen and (max-width: 992px) {
      margin-bottom: 40px;
    }

  }

  //.info-block__text
  &__video-text {
    max-width: 324px;
  }

  //.info-block__title
  &__title {

  }

  //.info-block__video
  &__video {
    display: grid;
    grid-template-columns: 88px 1fr;
    gap: 20px;

    video {
      display: none;
    }

    @media screen and (max-width: 578px) {
      grid-template-columns: 1fr;
    }
  }

  //.info-block__grid
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 268px 204px;
    gap: 15px;

    @media screen and (max-width: 992px) {
      grid-template-rows: 268px 204px 200px;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 1fr 200px;
    }
  }

  //.info-block__title-small
  &__title-small {
    margin-bottom: 36px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }

  //.info-block__text
  &__text {
    max-width: 205px;
    margin: 0 auto 54px;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;

    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
  }

  //.info-block__item
  &__item {
    border-radius: 10px;
    overflow: hidden;

    &:nth-child(1) {
      grid-column: span 2;
      grid-row: span 2;

      @media screen and (max-width: 768px) {
        grid-row: span 1;
      }
    }

    &:nth-child(2) {
      grid-column: span 1;
      grid-row: span 2;
      padding: 60px 45px 47px 46px;
      border: 1px solid rgba(110, 7, 158, 1);

      @media screen and (max-width: 1400px) {
        padding: 30px;
      }

      @media screen and (max-width: 1200px) {
        padding: 30px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      @media screen and (max-width: 992px) {
        grid-column: span 2;
        grid-row: span 1;
      }


    }

    &:nth-child(3) {
      @media screen and (max-width: 992px) {
        grid-column: span 2;
      }

    }

    &:nth-child(4) {
      @media screen and (max-width: 992px) {
        grid-column: span 2;
      }
    }

    img, picture {
      height: 100%;
    }
  }

  //.info-block__image
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  //.info-block__btns
  &__btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @media screen and (max-width: 1200px) {
      gap: 10px;
    }

    @media screen and (max-width: 992px) {
      flex-direction: row;
      flex-wrap: wrap;
    }

  }

  //.info-block__btn
  &__btn {
    max-width: 205px;
    width: 100%;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 14px 10px 14px;
    background: none;
    border: 1px solid rgba(72, 72, 72, 0.5);
    border-radius: 40px;

    &:nth-child(2) {
      color: rgba(110, 7, 158, 1);
      background: rgba(110, 7, 158, 0.2);
    }

    @media screen and (max-width: 1200px) {
      font-size: 12px;
    }

    @media screen and (max-width: 380px) {
      max-width: 100%;
    }

  }
}

.video {
  position: relative;
  width: 88px;
  height: 54px;
  border-radius: 50px;
  overflow: hidden;

  //.video__poster
  &__poster {

  }

  //.video__play
  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ffffff;
    border: none;

    img {
      margin-left: 2px;
    }
  }


}