.news {

  //.news__title
  &__title {
  }

  //.news__slider
  &__slider {
    @media screen and (max-width: 992px) {
      padding-bottom: 30px;
    }
  }

  //.news__wrapper
  &__wrapper {


  }

  //.news__slide
  &__slide {
    display: grid;
    gap: 20px;
    padding: 30px 30px;
    border-radius: 10px 150px 10px 150px;
    background: rgba(243, 243, 243, 1);

    @media screen and (max-width: 578px) {
      border-radius: 10px;
      padding: 30px 15px;
    }

  }

  //.news__slide-inner
  &__slide-inner {
    display: flex;
    gap: 22px;

    @media screen and (max-width: 578px) {
      flex-direction: column;
    }
  }

  //.news__content
  &__content {
    display: flex;
    flex-direction: column;
    max-width: 243px;

    @media screen and (max-width: 578px) {
      max-width: 100%;
    }
  }

  //.news__slide-title
  &__slide-title {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 500;

    @media screen and (max-width: 578px) {
      font-size: 25px;
    }

  }

  //.news__slide-descr
  &__slide-descr {
    margin-bottom: 25px;
    flex: 1 1 auto;
  }

  //.news__slide-link
  &__slide-link {
    text-decoration: underline;
    color: #000000;
    text-align: right;
  }

  //.news__image
  &__image {
    img {
      width: 100%;
      height: 222px;
      object-fit: cover;
      border-radius: 10px 130px 10px 10px;

      @media screen and (max-width: 578px) {
        border-radius: 10px;
      }

    }
  }


  //.news__date
  &__date{
    justify-self: end;
    font-size: 24px;
    font-weight: 300;

    @media screen and (max-width: 578px) {
      font-size: 16px;
    }
  }

}