body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 98;
}

body._lock::after {
  opacity: 1;
}

._lock {
  overflow: hidden;
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;

  .callback__phone {
    margin-top: 40px;
  }

  &--video {

    .popup__content {
      border-radius: 10px;
      overflow: auto;
    }

    .popup__close {
      top: 0;
      right: 0;
      z-index: 999;

      &::before,
      &::after {
        background-color: #6e079e;
      }

    }
  }

}

.popup__close {
  top: 55px;
  right: 62px;
  z-index: 99;

  &::before,
  &::after {
    background: #FFFFFF;
  }
}

.popup_show {
  z-index: 9999;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;

}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
  position: relative;
  transition: .3s;
}

.popup__wrapper {
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @media screen and (max-width: 700px) {
    padding: 0 20px;
  }
}

.popup__content {
  position: relative;
  width: 100%;
  max-width: 568px;
  //height: 100vh;
  //padding: 40px 40px 60px;
  //background-color: rgba($color: #fff, $alpha: 1.0);
  border-radius: 20px 150px 20px 20px;
  transform: scale(0);
  visibility: hidden;
  transition: transform 0.3s ease 0s;
  overflow: hidden;

  .lock & {
    visibility: visible;
  }
}


.popup__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


.popup__inner {
  position: relative;
  padding: 35px 30px;

  @media screen and (max-width: 425px) {
    padding: 40px 15px;
  }
}

.popup__top {
  padding: 38px 30px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
}

.popup__title {
  text-align: left;
  color: #FFFFFF;
  font-size: 34px;
  font-weight: 500;
  line-height: 120%;
  text-wrap: balance;
}

.popup__subtitle {
  text-align: left;
  color: #FFFFFF;
  margin: 35px 0 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
}


.popup__form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .form__input {
    border: 1px solid #6e079e;
  }

}


.cookie-notice {
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 70%;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #3b7fa1;
  color: white;
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;

  p {
    margin-bottom: 5px;
  }

  a {
    color: #82c7d4;
    text-decoration: underline;
  }
}

.accept-cookies {
  width: 200px;
  padding: 10px 20px;
  background-color: #82c7d4;
  color: white;
  border: none;
  border-radius: 5px;
}

#plan {

  .popup__content {
    max-width: 950px !important;
  }

}

#plan-image {
  img {
    max-width: 100%;
  }
}

#plan-video {
  video {
    width: 100%;
    max-width: 100%;
  }
}

#reviews {
  .popup__content {
    border-radius: 20px;
    background: #FFFFFF;
  }

  .popup__close {
    top: 25px;
    right: 30px;

    &::after, &::before {
      background-color: red;
    }
  }

}

#callback-form {

  .popup__title {

    @media screen and (max-width: 578px) {
      padding-right: 80px;
    }


    @media screen and (max-width: 480px) {
      word-break: normal;
    }
  }

}

#callback {
  .popup__title {
    padding-right: 80px;
  }

  #title-popup {

    @media screen and (max-width: 520px) {
      padding-right: 40px;
    }

    @media screen and (max-width: 480px) {
      word-break: normal;
      font-size: 25px;
    }
  }

  @media screen and (max-width: 400px) {
    #title-popup {
      font-size: 18px;
    }

    .popup__close {
      top: 40px;
      right: 50px
    }

    .popup__top {
      padding: 90px 30px 0;
    }

    .popup__subtitle {
      margin: 20px 0 0;
      font-size: 16px;
      text-wrap: balance;
    }
  }
}

#video {
  .popup__close {
    top: 5px;
    right: 5px;
  }
}

#filter {

  .popup__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 20px;
  }

  .popup__close {
    top: 10px;
    right: 10px;

    &::after, &::before {
      background-color: #6e079e;
    }
  }

  .filter__close {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 290px;
    border-radius: 20px;
    background: #6e079e;
    color: white;
    padding: 20px 10px;
    margin-bottom: 20px;

    &::after, &::before {
      display: none;
    }
  }

  .popup__filter {
    //display: block;
  }

  .popup__inner {
    padding: 40px 15px 20px;
  }

  .filter__inner {
    flex-direction: column;
  }


  .filter__wrp {
    width: 100%;
    border: 1px solid rgba(110, 7, 158, .3);
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;

    &:first-child {
      margin-top: 20px;
    }

    button {
      font-size: 16px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
      justify-content: flex-start;
      align-items: flex-start;

      img {
        display: none;
      }
    }

    .filter__reset {
      display: none !important;
    }

  }

  .filter__wrp-inner {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    border: none;
  }


}

.filter__btns-pc {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

#reset-pc {

  @media screen and (max-width: 992px) {
    display: none !important;
  }

}

#reset-mb {
  border: 1px solid #6e079e;
  background-color: #6e079e;
  border-radius: 10px;
  padding: 10px 14px;
  min-width: 152px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;

  @media screen and (min-width: 992px) {
    display: none !important;
  }
}
