.reviews {
  padding: 72px 27px;
  border-radius: 20px;
  background: #F3F3F3;

  .top-section {
    margin-bottom: 20px;
  }


  //.reviews__title
  &__title {
    margin-bottom: 20px;
  }

  //.reviews__slider
  &__slider {
  }

  //.reviews__wrapper
  &__wrapper {
  }

  //.reviews__slide
  &__slide {
    padding: 24px;
    border-radius: 20px;
    background: #ffffff;
  }

  //.reviews__text
  &__text {
    margin-bottom: 5px;
    line-height: 140%;
    max-height: 200px;
    overflow: hidden;

    &.active {
      max-height: 500px;
    }
  }

  //.reviews__link
  &__link {
    margin-bottom: 58px;
    color: black;
    text-decoration: underline;
  }

  //.reviews__bottom
  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;

    @media screen and (max-width: 578px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  //.reviews__content
  &__content {
  }

  //.reviews__name
  &__name {
    margin-bottom: 5px;
    font-weight: 500;

  }

  //.reviews__project
  &__project {
    font-size: 14px;
  }

  //.reviews__image
  &__image {

    img {
      max-height: 140px;
      height: 100%;
      max-width: 100%;
      border-radius: 10px 10px 57px 10px;

      @media screen and (max-width: 578px) {
        border-radius: 10px;
      }
    }
  }

  .reviews-next,
  .reviews-prev {
    top: 57%;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #6e079e;
    border-radius: 50%;

    &::after {
      color: #6e079e;
      font-size: 16px;
    }

    @media (max-width: 1400px) and (min-width: 1200px) {
      top: 62%;
    }
  }

}