.single {

  //.single__banner
  &__banner {
    position: relative;
    padding: 30px;
    min-height: 645px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: 992px) {
      min-height: 500px;
    }
  }

  //.single__links
  &__links{
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
  }


  //.single__view-map
  &__view-map {

    display: flex;
    align-items: center;
    gap: 5px;
    padding: 18px 14px;
    font-weight: 500;
    background: #6e079e;
    border-radius: 40px;
    color: #FFFFFF;

    @media screen and (max-width: 992px) {
      font-size: 14px;
    }

    @media screen and (max-width: 768px) {
      width: 50px;
      height: 50px;
      justify-content: center;

      span {
        display: none;
      }
    }

  }

  //.single__text
  &__text {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 20px;
    border-radius: 30px;
    max-width: 176px;
    background: #6e079e;
    color: #FFFFFF;

    @media screen and (max-width: 992px) {
      font-size: 14px;
    }

    p {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

  }


  //.single__text-btn
  &__text-btn {
    color: #FFFFFF;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  //.single__subtitle
  &__subtitle {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 15px;

    @media screen and (max-width: 1200px) {
      font-size: 30px;
    }

    @media screen and (max-width: 992px) {
      font-size: 25px;
    }
  }

  //.single__title
  &__title {
    color: rgba(110, 7, 158, 1);
    font-size: 100px;
    font-weight: 600;

    @media screen and (max-width: 1200px) {
      font-size: 65px;
    }

    @media screen and (max-width: 992px) {
      font-size: 45px;
    }

    @media screen and (max-width: 768px) {
      font-size: 35px;
    }

    @media screen and (max-width: 425px) {
      font-size: 28px;
    }

  }

}

.location {

  //.location__title
  &__title {
    margin-bottom: 41px;
  }

  //.location__map
  &__map {
    border-radius: 40px;
    overflow: hidden;
  }


}

.about-project {


  //.about-project__title
  &__title {
    margin-bottom: 61px;
  }

  //.about-project__inner
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 142px;
    padding: 60px 55px;
    background: #6e079e;
    border-radius: 40px;

    @media screen and (max-width: 992px) {
      flex-direction: column;
      gap: 40px;
      padding: 30px;
    }
  }

  //.about-project__text
  &__text {
    color: #FFFFFF;
    line-height: 140%;
  }

  //.about-project__logo
  &__logo {
    width: 100%;
    max-width: 380px;

    img {
      max-width: 100%;
    }
  }


}

.cause {

  //.cause__title
  &__title {
    margin-bottom: 40px;
  }

  .tabs {
  }

  .tabs__nav {
    background: none;
    border-radius: 0;
    //border-bottom: 1px solid rgba(110, 7, 158, 0.2);

    button {
      padding: 10px 15px;
      font-size: 18px;
      font-weight: 400;
      position: relative;

      &::before {
        //content: '';
        //position: absolute;
        //top: calc(100% - 1px);
        //left: 0;
        //width: 100%;
        //height: 3px;
        //background: rgba(110, 7, 158, 0.53);
        //opacity: 0;
      }

      &.active::before {
        //opacity: 1;
      }

    }

  }

  .tabs__body {
    padding: 0 15px;
  }

  .project__tabs {
    margin-top: 0;
  }

}

.images {

  &__title {
    margin-bottom: 45px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 204px 199px 54px;
    gap: 15px;
  }

  .grid-5 {

    grid-template-areas:
            "a a b c"
            "a a d f"
            "a a d g";

    @media screen and (max-width: 992px) {
      grid-template-rows: repeat(5, 199px);
      grid-template-areas:
            "a a b b"
            "a a c c"
            "a a d d"
            "f f f f"
            "g g g g";
    }

    @media screen and (max-width: 600px) {
      //grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
            "a a b b"
            "c c d d"
            "f f f f"
            "g g g g";
    }

    @media screen and (max-width: 768px) {
      grid-template-rows: auto;
      grid-template-columns: auto;
    }
  }



  &__item {
    min-height: 204px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;


    &:nth-child(1) {
      grid-area: a;
    }

    &:nth-child(2) {
      grid-area: b;
    }

    &:nth-child(3) {
      grid-area: c;
    }

    &:nth-child(4) {
      grid-area: d;
    }

    &:nth-child(5) {
      grid-area: f;
    }

  }

  &__name {
    padding: 13px;
    border-radius: 40px;
    background: rgba(110, 7, 158, 0.6);
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;

  }

  &__link {
    grid-area: g;
    max-height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.29);
    border-radius: 40px;
    background: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    color: #000;

    @media screen and (max-width: 600px) {
      height: 50px;
    }
  }


}

.team {

  &__title {
    margin-bottom: 30px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;

    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
  }

  &__item {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgba($color: #6e079e, $alpha: 0.3);
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 520px;

    img,picture {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }

  &__content {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
  }

  &__name {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
  }

  &__position {}


}

