.tabs {

  //.tabs__nav
  &__nav {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    padding: 0 15px;
    border-radius: 30px;

    button {
      padding: 10px 15px;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      background: rgba(243, 243, 243, 1);
      border-radius: 5px;

      &.active {
        background: #6e079e;
        color: #fff;
      }
    }

    @media screen and (max-width: 992px) {
      padding: 15px 25px;
      gap: 20px 10px;

      button {
        font-size: 16px;
      }

    }

  }

  //.tabs__body
  &__body {
    //min-height: 400px;
    margin-top: 40px;
  }

  //.tabs__content
  &__content {
    padding: 0 25px;
    display: none;

    @media screen and (max-width: 992px) {
      padding: 0 25px;
    }

    h1, h2, h3, h4, h5, h6 {
      line-height: 120%;
      color: #6e079e;
    }

    p {
      margin-bottom: 15px;
      line-height: 140%;
    }

    ul, ol {
      margin: 15px 0;
    }

    ul {
      list-style: disc;
      padding-left: 30px;

      li {
        line-height: 140%;
      }
    }

    &.active {
      display: flex;
      align-items: center;
      gap: 40px;
    }

  }

  //.tabs__text
  &__text{}

  //.tabs__image
  &__image{
    height: 100%;
    width: 100%;

    img {
      max-width: 643px;
      max-height: 355px;
      min-height: 355px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: 16px;
    }
  }
}