.text-page {

  &__title {
    margin-bottom: 20px;
  }

}

.text {
  h1, h2, h3, h4, h5, h6 {
    line-height: 120%;
    margin-bottom: 20px;
  }

  p {
    line-height: 150%;
    margin-bottom: 10px;
  }

  ul,ol {
    padding-left: 20px;
    list-style: disc;

    li {
      line-height: 150%;
      margin-bottom: 10px;
    }

  }

  img {
    max-width: 100%;
    margin: 30px 0
  }

}